<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Arcadian Outfitters</title>
         <link rel="stylesheet"  type="text/css" href="/style/style.css">
         <link rel="stylesheet"  type="text/css" href="/style/headerbar.css">
         <link rel="stylesheet"  type="text/css" href="/style/qr_style.css">
        <link  rel="stylesheet"  type="text/css" href="/style/aboutus.css">
        <script src="/script/page_route.js"></script>
    </head>
<body>
    <!-- Header Bar -->
    <headerbar class="header-bar">
    <div class="logo">
    </div>
    <button class="toggle-btn" onclick="toggleSidebar()">☰</button>

    <nav class="nav-links">
      <ul>
        <li><button class="nav-btn" onclick="loadPage('/views/landing')">Home</button></li>
        <li><button class="nav-btn" onclick="loadPage('/views/about')">About Us</button></li>
        <li><button class="nav-btn" onclick="loadPage('/views/contact')">Contact</button></li>
                    <div id="private-links" style="display: none;">
        <li><button class="nav-btn" onclick="loadPage('/views/re-order')">Re-Order</button></li>
        <li><button class="nav-btn" onclick="loadPage('/views/products')">Products</button></li>
                    </div>
        <li><button class="nav-btn" onclick="loadPage('/views/store_locator')">Store Locator</button></li>
        </ul>
    </nav>
    <div class="switch">
        <button onclick="signIn()">Login with Microsoft</button>
    <div class="cta-btn dropdown" id="cart" style="display: none;">
      <div>Cart</div>
    <ul id="cart-items" class="dropdown-content">
    </ul>
    </div>
    </div>
  </headerbar>
  <!-- Main Page -->
  <!-- Hero Section -->
  <div id="main-page">
    <header class="hero-section">
    <div class="hero-content">
      <h1>Welcome to Arcadian Outfitters!</h1>
      <p>love where you live</p>
      <a onclick="loadPage('/views/products')" class="cta-btn">Shop Now</a>
      <button onclick="fetchProfile()" class="cta-btn">Fetch Profile</button>
    </div>
  </header>
    </div>
  <!-- Footer Section -->
  <footer>
    <p>&copy; 2024 Arcadian Outfitters. All rights reserved.</p>
    <p>Follow us on <a href="https://www.instagram.com/arcadianoutfitters/">Instagram</a> | <a href="#">Facebook</a></p>
  </footer>
</body>
</html>
<script>
function toggleSidebar() {
  const navLinks = document.querySelector('.nav-links');
  navLinks.classList.toggle('active');
}
</script>
<script src="https://alcdn.msauth.net/browser/2.37.0/js/msal-browser.min.js"></script>
<script src="https://unpkg.com/@ericblade/quagga2@1.8.4/dist/quagga.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
<script src="/script/script.js"></script>
<script src="/script/image_route.js"></script>
<script src="/script/store.js"></script>
<script src="/script/scanner.js"></script>
